/* fonte */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

/* reset */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: "DM Sans", sans-serif;
	color: white;
}

body {
	max-width: 1360px;
	background-image: url("../css/fundo.png");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	background-position: center;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

header > img {
	margin-left: 115px;
}

nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0 60px;
}

nav > a {
	margin-left: 30px;
	font-size: 2rem;
}

nav > a:hover {
	text-decoration: underline;
}

nav > a#sobre {
	text-decoration: underline;
}

article {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;

	margin: 65px;
}

div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

p {
	font-size: 1.1rem;
}

span {
	text-decoration: underline;
}

footer {
	display: flex;
	justify-content: center;
	margin: 70px 0;
}